# Gradle
.gradle/
**/build/
!gradle

# Kotlin
.kotlin/

# OS Files
.DS_Store
Thumbs.db

# Misc
app/bin/

# IDE - Eclipse/Gradle Eclipse plugin
.project
.classpath
.settings/
app/.project
app/.classpath
app/.settings/

# Environment Variables
.env
.env.*
!.env.example

# Node
node_modules

.DS_Store